<!-- SIDENAV and NAVBAR  -->
<nav>
  <div class="nav">
      <div class="section">
          <div class="top_navbar">
            <div class="hamburger-container">
              <input class="checkbox" type="checkbox" name="" id="" />
                <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                </div>
              </div>
          </div>
      </div>
      <div class="sidebar">
          <div class="logo">
              <img src="../../../assets/brij_logo.svg">
          </div>
          <ul>
              <li>
                  <a href="#" >
                      <span class="item">Upcoming Movies</span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="item">Search Movies</span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="item">Your Recommendation</span>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>



