*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
.main-layout{
	margin-top: 60px;
	margin-left: 235px;
}

body{
	height: 100%;
	background: #f9f9f9;
}

.nav-container{
	top: 0;
	width: 100%;
	position:fixed;
	left: 0;
}

.nav-container div{
  display: flex;
  height: 60px;
	background: #ffffff;
	box-shadow: .5px .1px 4px 1px #053941;
}

.nav-container nav {
	background: #053941;
	position: fixed;
	top:60px;
  bottom: 0px;
	width: 235px;
	transition: all 0.5s ease;
	overflow: hidden;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
}
.account-settings {
  display: flex;
  align-items: center;
}
.nav-container div .account-settings button  {
	/* float: right; */
	right:0;
	height: 20px;
 }

/* nav menu toggle */
.nav-container div label {
  height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: 2em;
  color: #053941;
	cursor:pointer;
	text-align: center;
	transition: 0.5s ease;
	margin-left: 5px;
	margin: 3px,3px,3px 3px;
	line-height: 50px;
	width: 40px;
	top: 3px;
	border-radius: 50px;
}

.nav-container div label:hover  {
  color: #ffffff;
  background: #053941;
}

.nav-container nav ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #10558d;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
}

.nav-container nav ul li a:hover{
	color: #0c7db1;
	background:white;
  border-right: 2px solid rgb(5, 68, 104);
}

.nav-container nav ul li a:hover {
	color: #0c7db1;
}

/* .nav-container input[type="checkbox"]:checked ~ nav {
  width:0px;
} */

input[type="checkbox"]{
	display:none;
}

.nav-container nav .logo {
	background: #053941;
	display:block;
	width: 100px;
	height: 80px;
	color: #ffffff;
	margin: 10px;
	padding: 13px 30px;
}


@media only screen and (max-width: 600px) {

	.nav-container input[type="checkbox"]:checked ~ nav {
		width:0px;
	}
	.main-layout{
		margin-top: 60px;
		margin-left: 0px;
	}
}





