<div class="suggestions-container">
  <div class="suggestions-form">
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div> <input type="radio" id="new-movie"  [checked]="form.value.movieCategory === 'new-movie'" formControlName="movieCategory" value="new-movie">
        <label for="new-movie">New Movie</label><br>

        <input type="radio" id="part2" [checked]="form.value.movieCategory === 'part2'" formControlName="movieCategory" value="part2">
        <label for="css">Recommend Part 2</label><br>
      </div>


      <input class="movie-type" formControlName="movieType" placeholder="Type of Movie" type="text">
      <label placeholder="Type of Movie" for="type">Reason</label>

      <textarea class="reason" for="reason" formControlName="reason">Reason</textarea>


<label class="upload">
  <input type="file" class="upload-input" (change)="onFileSelected($event)" accept="image/*">
  <span>Upload Image</span>
</label>

      <!-- <button type="button">upload image</button> -->



      <button class="submit">Submit Suggestion </button>
    </form>
  </div>
</div>
