*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

/*  login container*/
.login-container{
  display: flex;
  height: 500px;
  width: 800px;
  margin: auto;
  margin-top:50px;
  border-radius: 2px;
  box-shadow:3px 3px 5px #053941;
}

/* login form */
.login-form{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: right;
  background-color: aliceblue;
}

.login-form label{
  font-size: 1rem;
  margin:40px 10px 0px 10px;
  font-weight:bold;
}

.input{
padding:12px;
width: 65%;
margin: 15px;
border:1px solid rgb(0, 0, 0);
border-radius: 5px;
outline: none;
}

#submit{
  cursor: pointer;
  padding: 12px 30px;
  width:40%;
  margin:40px 0 0 10px;
  background-color: #053941;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}

#submit:hover{
  color: #053941;
  background-color:white;
  border:1px solid #053941;
}


/* image */
.login-poster{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login-poster img{
  display: flex;
  width: 450px;
  height: 500px;
}

button:disabled{
  background-color: rgb(160, 160, 160);
} 

@media only screen and (max-width: 600px) {
  .login-poster{
    display:none;
  }
  .login-container{
    width: 80%;
  }
  .login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:center;
  }
}
