<main>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    
    <div class="form-control">
      <label> Email</label>
      <input formControlName="email" type="email">
     <div>
      <small *ngIf="!loginForm.valid && loginForm.value.email" style="color:red">enter a valid email</small>
     </div>

    </div>


    <div class="form-control">
      <label> Password</label>
      <input formControlName="password" type="password">
    </div>

    <div class="form-control">
      <button [disabled]="!loginForm.valid || !loginForm.value.password">Submit</button>
    </div>
  </form>
</main>